* {
    --color-primary: #0962E8;
    color: #29374E;
    font-family: 'InterVariable', sans-serif;
}

body, h1, h2, p, span, a {
    margin: 0;
    padding: 0;
}

h1, p {
    line-height: 22px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.highlight {
    color: var(--color-primary);
}

.icon {
    color: var(--color-primary);
    font-family: 'fontello', sans-serif;
}

.header {
    background-color: #CBECFF;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

.header_content {
    position: relative;
    max-width: 400px;
}

.header_content h1 {
    padding-top: 150px;
    padding-bottom: 40px;
}

.header_content h1 span {
    background-color: white;
    border-radius: 20px;
    letter-spacing: 2px;
    margin: 0 8px;
    padding: 0 16px;
}

.header_content p {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
}

.btn_primary {
    background-color: var(--color-primary);
    border-radius: 8px;
    color: white;
    font-size: 18px;
    padding: 16px 40px;
    text-decoration: none;
}

.demo_container {
    margin-top: 50px;
    margin-bottom: 200px;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
    gap: 20px;
    position: relative;
    top: 30px;
}

.feature {
    align-items: flex-start;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    color: black;
    display: flex;
    padding: 15px;
}

.feature:nth-child(1) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.feature:nth-child(2) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
}

.feature_text {
    padding: 5px 5px 15px;
}

.feature_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #EFF9FF;
    border-radius: 50%;
}

.feature_icon_container .icon {
    color: var(--color-primary);
    padding: 20px;
}

/* Products screen */
.products h1 {
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
    margin-top: 150px;
    text-align: center;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 20px;
    position: relative;
    top: 30px;
}

.product_item {
    background-color: #E9F6FF;
    border-radius: 30px;
    display: flex;
}

.product_text {
    flex-grow: 0;
    flex-shrink: 1;
    padding: 30px 20px;
}

.product_text h2 {
    margin-bottom: 10px;
}

.product_text p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.product_image {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 40px 20px 0 0;
    text-align: right;
}

.product_image img {
    box-shadow: 8px -8px 16px rgba(0, 0, 0, 0.06);
    max-height: 291px;
    margin-bottom: -4px;
}

/* Advantages */
.advantages {
    margin-top: 140px;
}

.advantages_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
}

.advantages_text h2 {
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 20px;
}

.advantages_text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 400px;
}

.advantage_items {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
}

.advantage_item {
    padding: 12px;
}

.advantage_item_text {
    margin: 20px 0 40px;
}

.advantage_item_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #EFF9FF;
    border-radius: 50%;
}

.advantage_item_icon_container .icon {
    font-size: 20px;
}

/* Header image */
.header_image_wrapper {
    margin: 0 auto;
    max-width: 1024px;
}

.header_image {
    position: relative;
}

.header_image img {
    position: absolute;
    right: -100px;
    max-height: 650px;
}

/* Language switch container */
.language_switch_container {
    position: relative;
}

.language_switch_wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language_btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 4px;
    margin: 0 4px;
}

.language_btn.active {
    background-color: white;
    border-radius: 12px;
    color: var(--color-primary);
}

/* Media queries */
@media (max-width: 1024px) {
    .container {
        margin: 0 20px;
    }

    .demo_container {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .btn_primary {
        display: block;
        text-align: center;
    }

    .header_content {
        max-width: revert;
    }

    .header_content h1 {
        font-size: 50px;
        padding-top: 0;
        padding-bottom: 30px;
    }

    .header_content p {
        font-size: 16px;
        font-weight: 300;
        line-height: 21px;
    }

    .header_image {
        width: 100%;
        overflow: hidden;
    }

    .header_image img {
        position: relative;
        left: -20px;
        max-height: 480px;
    }

    .features {
        align-items: flex-start;
        align-content: flex-start;
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        top: 0;
        padding-bottom: 40px;
    }

    .feature {
        flex-direction: column-reverse;
    }

    .feature_text {
        padding: 0;
    }

    .feature_text p {
        font-size: 14px;
        line-height: 20px;
    }

    .feature_icon_container {
        margin-top: -20px;
    }

    .products h1 {
        font-size: 24px;
        line-height: 32px;
        margin-top: 35px;
    }

    .product_container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .product_text {
        padding: 25px 15px;
    }

    .product_text h2 {
        font-size: 16px;
        line-height: 22px;
    }

    .product_text p {
        font-size: 13px;
        line-height: 18px;
    }

    .product_image {
        padding: 20px 20px 0 0;
    }

    .product_image img {
        max-height: 190px;
    }

    .advantages {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .advantages_container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .advantages_text {
        text-align: center;
    }

    .advantages_text h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0;
    }

    .advantages_text p {
        max-width: revert;
    }

    .advantage_items {
        gap: 20px;
    }

    .advantage_item {
        border-radius: 20px;
        box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    }

    .advantage_item_text {
        margin: 10px 0;
    }

    .advantage_item_text p {
        font-size: 14px;
        line-height: 20px;
    }

    .advantage_item_icon_container {
        margin-top: -20px;
    }

    .language_switch_wrapper {
        right: 0;
        z-index: 2;
    }
}
