
.icon-chart-pie:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
