
.icon-users:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-chart-pie-1:before { content: '\f200'; } /* '' */
